.blog-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.blog-container > * {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .blog-container {
        flex-direction: column;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}